<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card mb-3" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://oipsi.org/wp-content/uploads/elementor/thumbs/Consulta-Psicolo%CC%81gica-Individual-1x1-1-pstle3m4zqdizcgnro4il3s5fhor9q26v4mm82ehsw.jpg"
                                alt="login form" style="height: 100%"; class="img-fluid"
                                style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form action="/citas/borrarCita/{{citas.IDCITANUEVA}}" object="" method="POST">

                                    <h2 class="title text-center mb-4">
                                        ¿Realmente desea eliminar esta cita?
                                    </h2>

                                    <div class="col-md-4 mb-2">
                                        <label for="fecha" class="form-label">Fecha</label>
                                        <input type="text" name="fecha" class="form-control"
                                            value="{{citas.FECHA}}" readonly id="cedula" required>
                                    </div>


                                    <div class="col-md-4 mb-2">
                                        <label for="fecha" class="form-label">Hora</label>
                                        <input type="text" name="fecha" class="form-control"
                                            value="{{citas.HORA}}" readonly id="cedula" required>
                                    </div>

                                    <div class="col-md mt-4">
                                        <div class="form-floating">
                                            <textarea name="observaciones" class="form-control"
                                                placeholder="Historia de la enfermedad" id="floatingTextarea2"
                                                style="height: 100px"> {{citas.OBSERVACIONES}}</textarea>
                                            <label for="floatingTextarea2">Observaciones</label>
                                        </div>
                                    </div>


                                    <div class="row g-2">
                                        <div class="col-md mb-3">
                                            <div class="form-group p-3">
                                                <a class="btn btn-warning btn-block w-100" href="/citas">
                                                    Regresar
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-group p-3">
                                                <button class="btn btn-danger btn-block w-100">
                                                    Cancelar Cita
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    body {
        /*background-image: url(https://www.universidades.com.ec/img/article/que-cantidad-de-psicologos-hay-en-ecuador);*/
        background-color: #6495ed;
        /* Fijar la imagen de fondo este vertical y
    horizontalmente y centrado */
        background-position: center center;

        /* Esta imagen no debe de repetirse */
        background-repeat: no-repeat;

        /* COn esta regla fijamos la imagen en la pantalla. */
        background-attachment: fixed;

        /* La imagen ocupa el 100% y se reescala */
        background-size: cover;
    }

    img {
        background-repeat: no-repeat;

        /* COn esta regla fijamos la imagen en la pantalla. */
        background-attachment: fixed;

        /* La imagen ocupa el 100% y se reescala */
        background-size: cover;
    }

    .card {
        border: solid 1px;
        border-radius: 15px;
    }