<section class="vh-100" style="background-color: #3a7ecc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form th:action="" object="" method="">

                                    <h2>AGENDAR CITA</h2>
                                    <label for="exampleInputPassword1" class="form-label">Hora:</label>
                                    <select th:field="*{hora}" class="form-select" required>
                                        <option value="7:00">7:00</option>
                                        <option value="8:00">8:00</option>
                                        <option value="9:00">9:00</option>
                                        <option value="10:00">10:00</option>
                                        <option value="11:00">11:00</option>
                                        <option value="12:00">12:00</option>
                                        <option value="15:00">15:00</option>
                                        <option value="16:00">16:00</option>
                                        <option value="17:00">17:00</option>
                                        <option value="18:00">18:00</option>
                                    </select>
                                    <label for="exampleInputPassword1" class="form-label">Fecha:</label>
                                    <input id="startDate" th:field="*{createDate}" required class="form-control"
                                        type="date" />
                                    <label for="exampleInputPassword1" class="form-label">Paciente:</label>
                                    <select th:field="*{idPersona}" class="form-select " id="selectPacientes" required>
                                    </select>
                                    <input type="submit" class="btn btn-primary m-3"></input>
                                    <a href="/citas" class="btn btn-warning m-3">
                                        Cancelar
                                    </a>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>