<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- BOOTSTRAP CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>

<body>
  <!-- NAVIGATION -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img
          src="https://images.vexels.com/media/users/3/252027/isolated/preview/7d8e277792f119b7d5f52dfb0b4ca11c-a-rgano-de-accidente-cerebrovascular-humano.png"
          style="width: 20%;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item m-3 p-2">
            <a class="btn btn-primary" style="background-color: #3b5998; width:200%" href="https://www.facebook.com/OcumedicRiobamba" role="button"><i
                class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-item m-3 p-2">
            <a class="btn btn-primary" style="background-color: #ac2bac; width:200%" href="https://www.instagram.com/ocumedic_riobamba/" role="button"><i
                class="fab fa-instagram"></i></a>
          </li>
          <li class="nav-item m-3 p-2">
            <a class="btn btn-primary" style="background-color: #25d366; width:200%" href="https://api.whatsapp.com/send?phone=593983913848&text=Buenos%20d%C3%ADas,%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n" role="button"><i
                class="fab fa-whatsapp"></i></a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <div id="mennu">
    <!-- HEADER -->
    <header class="main-header">
      <div class="background-overlay text-white py-5">
        <div class="container">
          <div class="row d-flex h-100">
            <div class="col-sm-6 text-center justify-content-center align-self-center">
              
              <h1>
                Bienvenido a la página web OSU-SIS
              </h1>
              <p>Analiza y gestiona tus documentos de tratamiento psicológico de manera fácil y rápida.</p>
              <a href="/registro" class="btn btn-primary btn-lg text-white">
                Iniciar Sesión
              </a>
            </div>
            <div class="col-sm-6">
              <img src="https://www.todoparaellas.com/u/fotografias/m/2022/4/17/f638x638-42878_101045_5050.png"
                class="img-fluid d-none d-sm-block">
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- FEATURES -->

    <section class="py-5" id="secciones">
      <div class="container">
        <div class="text-center mb-3">
          <h1><strong> SOMOS SALUD, SOMOS FAMILIA </strong></h1>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="card text-center border-primary">
              <div class="card-body">
                <h5>Contamos con médicos perfectamente preparados y especializados en el serivio psicológico.</h5>
                <p>

                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center border-primary">
              <div class="card-body">
                <h5>Somos un centro de salud especializado en el tratamiento psicologico de nuestros pacientes</h5>
                <p>

                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center border-primary">
              <div class="card-body">
                <h5>​​Tu salud es nuestra prioridad. Buscamos darte la mejor atención con los mejores profesionales</h5>
                <p>

                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center border-primary">
              <div class="card-body">
                <h5>​Excelente servicio de profesionales altamente preparados para tu bienestar mental.</h5>
                <p>

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ABOUT -->
    <section class="m5 text-center bg-light">
      <div class="container">
        <div class="row">
          <div class="m-5">
            <h3>Lo que estas buscando...</h3>
            <p>
              Todas las terapias de OCUMEDIC con la más alta calidad y mejor asistencia médica psicolígica para tus
              problemas personales.
              Tu información la manejamos con la mayor privacidad y confidencialidad
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- TEAM -->
    <section class="text-center team">
      <div class="container p-5">
        <h1 class="text-center text-white">Nuestro servicio</h1>
        <p class="text-white">
          OCUMEDIC tiene los mejores servicios a precios cómodos para nuestros pacientes. Contáctate con nuestro
          servicio
          psicológico directamente en el botón de WhatsApp para más información. Tu salud es nuestra prioridad. Los
          mejores
          especialistas solo en OCUMEDIC.
        </p>
        <div class="row">
          <!-- USER TEAM -->
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <img src="https://cdn-icons-png.flaticon.com/512/3475/3475897.png"
                  class="img-fluid rounded-circle w-50">
                <h3>El personal</h3>
                <p>
                  Profesionales listos para el servicio. Buscamos apoyarte en todo momento con la mejor ayuda.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <img src="https://cdn-icons-png.flaticon.com/512/8915/8915898.png"
                  class="img-fluid rounded-circle w-50">
                <h3>Manejo eficaz</h3>
                <p>
                  Contamos con la mejor aplicación para el manejo de tus datos y control de evolución psicológica.
                </p>

              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <img src="https://cdn-icons-png.flaticon.com/512/3723/3723918.png"
                  class="img-fluid rounded-circle w-50">
                <h3>Privacidad</h3>
                <p>
                  Confidencialidad total, tu tratamiento lo manejas en la mejor infraestructura con privacidad total.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card">
              <div class="card-body">
                <img src="https://cdn-icons-png.flaticon.com/512/5047/5047206.png"
                  class="img-fluid rounded-circle w-50">
                <h3>Confianza</h3>
                <p>
                  Deposita tu confianza en nosotros, nuestro objetivo es ayudarte y apoyarte en todos tus problemas.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <a class="BtnWsp"
      href="https://api.whatsapp.com/send?phone=593983913848&text=Buenos%20d%C3%ADas,%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n"
      target="_blank"><i class="fab fa-whatsapp"></i></a>

    <footer>
      <div class="container p-3">
        <div class="row text-center text-white">
          <div class="col ml-auto">
            <p>OCUMEDIC y ESPOCH &copy; 2023</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- BOOTSTRAP SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"></script>
  </div>
</body>

</html>

<style>
  .BtnWsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    left: 30px;
    /*background-color: #25d366;*/
    color: #fff;
    background-color: green;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    z-index: 11;
  }

  .BtnWsp::before,
  .BtnWsp::after {
    bottom: 0px;
    right: 0px;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #7add9e;
    z-index: -1;
    opacity: 0.7;
    border-radius: 50%;
  }

  .BtnWsp:before {
    -webkit-animation: pulse 3s ease-out infinite;
    animation: pulse 3s ease-out infinite;
  }

  .BtnWsp:after {
    -webkit-animation: pulse 3s 1.5s ease-out infinite;
    animation: pulse 3s 1.5s ease-out infinite;
  }

  #secciones {
    background-image: url(https://www.limarp.com/img/psychology-weight-loss.jpg);
    /*background-color: #6495ed;*/
    /* Fijar la imagen de fondo este vertical y
      horizontalmente y centrado */
    background-position: center center;

    /* Esta imagen no debe de repetirse */
    background-repeat: no-repeat;

    /* COn esta regla fijamos la imagen en la pantalla. */
    background-attachment: fixed;

    /* La imagen ocupa el 100% y se reescala */
    background-size: cover;
  }

  .card {
    border: solid 1px;
    border-radius: 15px;
    transition: 0.3s;
  }

  .card:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
  }

  .navbar {
    box-shadow: 2px 2px 5px #000;
    opacity: 0.9;
  }

  .navbar .nav-item .nav-link {
    color: #fff;
  }

  .main-header {
    position: relative;
    background: url("https://uploads-ssl.webflow.com/6165ed3d14364c72a597fe4e/6197bb66750848861998d8fd_pexels-photo-4101143.jpeg");
    background-size: cover;
    min-height: 700px;
  }

  .background-overlay {
    background: rgba(48, 51, 107, .7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .form-control,
  .btn {
    border-radius: 0;
  }

  .team,
  footer {
    background: #30336b;
  }
  
  .area{
    display: none;
  }
</style>