<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card mb-3" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://consultoriomga.com/wp-content/uploads/2016/05/evaluacion-psicologica.jpg"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form action="/evaluaciones/nCertificado" object="" method="POST">

                                    <h2 class="title text-center mb-4">
                                        Ingrese la cédula del paciente para generar el certificado
                                    </h2>

                                    <div class="row g-2">
                                        <div class="col-md mb-3">
                                            <div class="form-floating mb-2  ">
                                                <input type="text" name="cedula" id="cedula" class="form-control"
                                                    placeholder="Ingrese la cédula" autofocus>
                                                <label for="floatingInput">Ingrese la cédula</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-2">
                                            <div class="col-md mb-3">
                                                <div class="form-group p-3">
                                                    <a class="btn btn-warning btn-block w-100" href="/pacientes">
                                                        Regresar
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md">
                                                <div class="form-group p-3">
                                                    <button class="btn btn-success btn-block w-100">
                                                        Continuar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-
</section>

<script>
    /*const boton = document.querySelector('.btn');
    const cedula = document.getElementById('cedula');
    const contener = document.querySelector('.contenedor');

    boton.addEventListener('click', (e) =>{
        e.preventDefault();
        const dato = cedula.value;
        alert(dato);
        contener.classList.add('contener--show');
    }
    )*/
</script>

<style>
    body {
        /*background-image: url(https://www.universidades.com.ec/img/article/que-cantidad-de-psicologos-hay-en-ecuador);*/
        background-color: #6495ed;
        /* Fijar la imagen de fondo este vertical y
    horizontalmente y centrado */
        background-position: center center;

        /* Esta imagen no debe de repetirse */
        background-repeat: no-repeat;

        /* COn esta regla fijamos la imagen en la pantalla. */
        background-attachment: fixed;

        /* La imagen ocupa el 100% y se reescala */
        background-size: cover;
    }

    img {
        background-repeat: no-repeat;

        /* COn esta regla fijamos la imagen en la pantalla. */
        background-attachment: fixed;

        /* La imagen ocupa el 100% y se reescala */
        background-size: cover;
    }

    .card {
        border: solid 1px;
        border-radius: 15px;
    }

    .btn{
        width: "100%";
    }
    .contenedor{
        /*display: none;*/
    }

    .contenedor--show {
        /*opacity: 1;
        pointer-events: unset;*/
        /*display: flex;*/
    }