<section class="vh-150" style="background-color: #6495ed;">
    <div class="container py-5 h-150">
        <div class="row d-flex justify-content-center align-items-center h-150">
            <div class="col col-xl-8">
                <div class="card" style="border-radius: 1rem;">
                    <div class="align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">

                            <form action="/autenticacion/registro" method="POST">

                                <div class="text-center">
                                    <span class="h1 fw-bold mb-0"> CREAR CUENTA </span>
                                </div>

                                <br>

                                <div class="text-center">
                                    <img src="https://pbs.twimg.com/profile_images/1158408311932432384/bjvit15u_400x400.jpg"
                                        width="250" height="250" class="img-fluid" alt="Sample image">
                                </div>

                                <br>

                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="usuario" class="form-control"
                                            placeholder="Nombre de usuario">
                                        <label for="floatingInput">Nombre de usuario</label>
                                    </div>
                                </div>

                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <input type="text" name="correo" class="form-control" placeholder="Correo">
                                        <label for="floatingInput">Correo</label>
                                    </div>
                                </div>

                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <input type="password" name="contrasenia" class="form-control"
                                            placeholder="Contraseña">
                                        <label for="floatingInput">Contraseña</label>
                                    </div>
                                </div>

                                <div class="col-md">
                                    <div class="text-center">
                                        <button class="button"> Iniciar Sesion
                                        </button>
                                    </div>
                                </div>

                            </form>

                            <a href="/registro">
                                <div class="col-md mt-3">
                                    <div class="text-center">
                                        <button class="button2"> Regresar
                                        </button>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    button {
        padding: 1.3em 3em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: rgb(225, 226, 226);
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    button:hover {
        background-color: #23c483;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

    .button2:hover {
        background-color: #f8091d;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

    button:active {
        transform: translateY(-1px);
    }
</style>